@charset "utf-8";

/*under 600PX*/
body {
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 4%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header h2 {
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background-color: #374152;
  padding: 15px 15px;
}

.header ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 45%;
}

.header ul li {
  margin-top: 10px;
  font-size: 14px;
}

.top_image {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.top_image img {
  height: 600px;
}

.self_introduction {
  margin-top: 50px;
  text-align: center;
  padding: 4%;
}

.section_title {
  font-size: 28px;
  border-bottom: 1px solid #000;
  display: inline;
}

.self_introduction .name {
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 10px;
}

.self_introduction .self_image {
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.profile {
  text-align: center;
  padding: 4%;
}

.profile .detail_title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 30px;
}

.profile .detail_text {
  margin-bottom: 10px;
}

.profile img {
  width: 100%;
  margin-bottom: 20px;
}

footer {
  font-size: 14px;
  text-align: center;
  border-bottom: 5px solid #000;
  margin-top: 20px;
}


/*break point 600px*/
@media screen and (min-width: 600px) {

  .header {
    width: 960px;
    padding: 4%;
    margin: 0 auto;
  }

  .header ul {
    width: 25%;
  }

  .top_image img {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }

  main {
    width: 960px;
    padding: 4%;
    margin: 0 auto;
  }

  .self_introduction_content_img {
    display: flex;
    align-items: center;

  }

  .self_introduction .name {
    text-align: left;
  }

  .profile_detail {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
  }
}
